*{
  margin: 0;
  padding: 0;
}

.topbar{
  width: 100%;
  height: 40px;
  box-shadow: #ddd 0 1px 5px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}
.topbar .logo{
  line-height: 40px;
  padding: 0 1.5em;
  float: left;
  font-weight: 600;
}
.topbar ul,
.topbar ul li
{
  float: left;
  height: 40px;
}
.topbar ul li{
  padding: 0 10px;
  list-style: none;
}
.topbar ul li a{
  line-height: 30px;
  margin: 5px;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
.topbar ul li.act{
  box-sizing: border-box;
  border-bottom: #00f solid 2px;
}
.startuse{
  background-color: #00f;
  border-radius: 10px;
  height: 30px;
  margin: 5px;
  padding: 0 1.5em;
  border: 0;
  color: #fff;
  display: block;
  float: right;
  line-height: 30px;
  text-decoration: none;
  font-size: 14px;
}
main{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 100px;
  float: left;
  position: relative;
}
main h1{
  font-size: 60px;
  padding-bottom: .5em;
  position: relative;
}
main h1::after{
  content: '';
  width: 150px;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  bottom: .4em;
  left: 0;
  animation: widths 1s;
}
main.half{
  width: 50%;
}
@keyframes widths {
  0%{
    width: 0px;
  }100%{
    width: 150px;
  }
}
main p{
  font-size: 20px;
}
main button{
  margin-top: 150px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #00f;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
main button:hover{
  background-color: #06f;
}
main button:active{
  background-color: #03398b;
}
main p.js{
  font-size: 12px;
  color: #888;
  line-height: 30px;
}
.tip{
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
  display: none;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media(max-width:800px){
  .tip{
    display: flex;
  }
}
main img{
  width: 600px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  z-index: -1;
}